name: CI

on:
  push:
    #tags: ["v*"]
    branches: ["*"]

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: my-runners
    steps:
      - name: Copy repo to runner
        uses: actions/checkout@v4        
        
      - name: Log in ghcr.io
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{env.REGISTRY}} 
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create labels and tags for docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        
      - name: Build and push docker image
        uses: docker/build-push-action@v5.3.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}